[submodule "eternal-engine-components"]
	path = eternal-engine-components
	url = git@github.com:mevoroth/eternal-engine-components.git
	branch = master
	update = rebase
[submodule "eternal-engine-graphics"]
	path = eternal-engine-graphics
	url = git@github.com:mevoroth/eternal-engine-graphics.git
	branch = master
	update = rebase
[submodule "eternal-engine-core"]
	path = eternal-engine-core
	url = git@github.com:mevoroth/eternal-engine-core.git
	branch = master
	update = rebase
[submodule "eternal-engine-utils"]
	path = eternal-engine-utils
	url = git@github.com:mevoroth/eternal-engine-utils.git
	branch = master
	update = rebase
[submodule "eternal-engine-extern"]
	path = eternal-engine-extern
	url = git@github.com:mevoroth/eternal-engine-extern.git
	branch = master
	update = rebase
[submodule "eternal-engine-shaders"]
	path = eternal-engine-shaders
	url = git@github.com:mevoroth/eternal-engine-shaders.git
	branch = master
	update = rebase
[submodule "eternal-engine"]
	path = eternal-engine
	url = git@github.com:mevoroth/eternal-engine.git
	branch = master
	update = rebase
